.HideHamburger{
    display: none;
}

.ShowHamburger{
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 4rem;
    padding-top: 40px;
    z-index: 10;
    animation-name: slidein;
    animation-duration: 10s;
}

.showdropdown{
    display:block;
}

@keyframe slidein{
    from{
        margin-left: 200px;
        /* width: 300%; */
    }

    50% {
        marginh-left: 100px;
        /* width: 150%; */
    }

    to {
        margin-left: 0px;
        /* width: 100% */
    }
}